.labeling-process-container {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 4px 12px;

    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;

    /* Make text of the elements non-selectable */
    -webkit-user-select: none; /* Safari only supports user select using the -webkit prefix */
    user-select: none;
}