name: Check ESLint

on:
    workflow_dispatch:
    push:

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - uses: actions/setup-node@v5
              with:
                  node-version: "22"

            - name: Install and Lint
              working-directory: frontend/webEditor
              run: |
                  npm install
                  npm run lint
