name: Playwright Tests
on:
  workflow_dispatch:
  push:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies and build
      working-directory: frontend/webEditor
      run: |
        npm install
        npm run build

    - name: Install Playwright Browsers
      working-directory: frontend/webEditor
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      working-directory: frontend/webEditor
      run: npm run test

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
